*,*::before,*::after {
    box-sizing: border-box;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    background: #f1f4f9;
    font-family: "Helvetica Neue",Helvetica,'Open Sans', "Microsoft YaHei",微软雅黑,STHei,Arial,sans-serif
}

a {
    text-decoration: none
}

a:hover {
    cursor: pointer
}
ul, li {
  list-style: none;
}
.main-container {
    background-color: rgb(241, 244, 249);
}
.header {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20em;
    color: white;
    background: url('http://7xlkda.com1.z0.glb.clouddn.com/rail-bg.png') center no-repeat;
    background-size: cover;
    position: relative
}

@media screen and (max-width: 570px) {
    .header {
        font-size:14px;
        padding: 5em 2em
    }
}

.header .avatar {
    border-radius: 50%;
    width: 6em;
    height: 6em;
    position: absolute;
    top: 50%;
    margin-top: -3em;
    float: left
}

.header .text {
    padding-left: 7em
}

.header .button {
    font-size: 0.8em;
    line-height: 2.6;
    padding: 0 1em;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    text-decoration: none
}

.header .button:hover {
    background: white;
    color: #21b982
}

.header .title {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0.5em
}

.header .desc {
    line-height: 1.2em;
    margin: 0;
    font-size: 1em
}

.nav {
    background-color: white;
    box-shadow: 0 4px 5px -6px rgba(83,84,84,0.48)
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center
}

.nav li {
    display: inline-block
}

.nav a {
    display: block;
    padding: 20px 40px;
    text-decoration: none;
    text-transform: uppercase
}

@media screen and (max-width: 570px) {
    .nav a {
        padding:14px 20px
    }
}

.nav a {
    color: #859396
}

.nav a:hover,.nav a:active,.nav a:focus {
    color: #21b982
}

.archive {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden
}

.section-wrapper {
    width: 800px;
    margin: 0 auto;
    padding: 15px;
    position: relative
}
@media screen and (max-width: 800px) {
    .section-wrapper {
        width:100%
    }
}

.section {
    border-radius: 5px;
    width: 100%;
    background: white;
    overflow: hidden;
    padding-bottom: 0px;
    position: relative
}

.section__title {
    font-size: 24px;
    font-weight: 900;
    margin-top: 1em;
    line-height: 1.1em;
    margin-bottom: 1em;
    color: #222
}

.section__title:hover,.section__title:active,.section__title:focus {
    color: #21b982
}

.section__img {
    width: 100%
}

.section__desc {
    margin-top: 12px;
    color: #444;
    margin-bottom: 1.5em;
    line-height: 1.4em
}

.section__text {
    padding: 15px;
    position: absolute;
    bottom: 0;
    height: 150px;
    width: 100%
}

.section .lazy {
    display: block;
    margin: auto
}

.section .img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 160px;
    position: relative;
    padding-top: 74.677419%
}

.section .img-wrapper>img {
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute
}
.section_header {
  padding: 15px;
}
.section_header_content {
  padding: 0 15px;
}
.section_header_text {
  color: #444;
  line-height: 1.4em
}
.section_header_content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden
}
.describe {
  display: blcok;
}
.describe h4 {
  padding: 0 15px;
}
.text-color {
  color: #444;
}
.describe ul li {
  color: #555;
  font-size: 1em;
  line-height: 1.4em;
}
